body {
    margin: 0;
    padding: 0;
    background: #F1F1F1;
}

#content {
    margin: 200px auto;
    padding: 30px 10px;
    width: 50%;
    min-width: 300px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#ribbon {
    position: absolute;
    background-color: #1C4E80;
    border: 2px dotted floralwhite;
    top: 30px;
    left: -43px;
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(-45deg);
    padding: 10px 50px;
    box-shadow: 1px 0px 5px #A5D8DD;
}

#ribbon>a {

    text-decoration: none;
    color: antiquewhite;
}

#ribbon>a:hover {
	
    text-decoration: none;
    color: #A5D8DD;
}

div#scene {
    padding-left: 40%;
    margin: 20px 0 20px 0;
}

#content>header {
    font-size: 2rem;
    font-family: Montserrat;
    color: #EA6A47;
    margin-top: 10px;
}

#content>p {
    font-family: Open Sans;
    line-height: 1rem;
    color: #EA6A47;
}
